/* 

Stylesheet for Group ECard:

*/ 

body {
	font-family: 'Shadows Into Light Two', cursive;
}

#card { 
	position: relative; 
	height: 576px; 
	width: 816px; 
	 
}

.click {
	position: absolute;
	right: 30px;
	bottom: 10px;
	z-index: 2;
	color: #f3eee7;
	font-size: 20px;
}

.flip {
	position: absolute;
	right: 60px;
	bottom: 67px;
	z-index: 10;
	font-size: 20px;
}

.back { 
	width: 816px; 
	background-color: #f3eee7; 
	font-size: 25px;
	padding-left: 30px;
	padding-top: 10px;
	-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}

.left {
	width: 57%;
	float: left;
}

.right {
	padding-left: 40px;
	font-size: 35px;
	width: 32%;
	float: left;
}

.border {
	border-bottom: 1px solid black;
}
